main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    gap: rem;

    .principal{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 12rem;
        border-radius: 4rem;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .textos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem 6rem;
            gap: 1rem;
    
        }

        h1.titulo{
            color: var(--textoH1);
            font-style: italic;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            font-family: "Roboto-ExtraBold";
            padding: 0.5rem 1rem;
            font-size: 2rem;
            border-bottom: solid 0.2rem var(--textoH1);
        }

        p{
            line-height: 1.5rem;
        }
        
        .botao{
            background-color: var(--corTexto);
            color: var(--fundoBody);
            padding: 1rem 2rem;
            text-decoration: none;
            border-radius: 2rem;
            border: none;
            transition: all ease-in-out 0.2s;
            cursor: pointer;
            font-size: 1rem;
        }

        .botao:hover{
            background-color: var(--fundoHeaderFooter);
            color: var(--corLinks);
        }

        input, select{
            padding: 1rem;
            border-radius: 0.4rem;
            border: none;
            background-color: var(--fundoInput);
        }

        select{
            cursor: pointer;
        }

        .linha{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }

    }

    table{
        border: 0.01rem solid #000000;
    }
    
    th{
        color: #ffffff;
        background-color: #000000;
        padding: 0.5rem 1rem;
        text-align: center;
    }
    
    td{
        background-color: #00000035;
        text-align: center;
        padding: 0.5rem 1rem;
    }
    
    #mostrar_resposta{
        display: none;
    }
}